@{
  Layout="Shared/_Layout.cshtml";
}

<form action="/result" method="post">
      <div class="form-group">
        <label for="player1-input"><span class="players">Player One Choice:</span></label>
        <select name="player1-input" id="player1-input" class="form-control">
          <option value="rock">Rock</option>
          <option value="paper">Paper</option>
          <option value="scissors">Scissors</option>
        </select>
      </div>
      <div class="form-group">
        <label for="player2-input"><span class="players">Player Two Choice:</span></label>
        <select name="player2-input" id="player2-input" class="form-control">
          <option value="rock">Rock</option>
          <option value="paper">Paper</option>
          <option value="scissors">Scissors</option>
        </select>
      </div>
    <button type="submit" class="btn btn-lg">Submit</button>
</form>
