
<form action="/result" method="post">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="player1-input">Player One Choice:</label>
        <select name="player1-input" id="player1-input" class="form-control">
          <option value="rock">Rock</option>
          <option value="paper">Paper</option>
          <option value="scissors">Scissors</option>
        </select>
      </div>
      <div class="form-group">
        <label for="player2-input">Player Two Choice:</label>
        <select name="player2-input" id="player2-input" class="form-control">
          <option value="rock">Rock</option>
          <option value="paper">Paper</option>
          <option value="scissors">Scissors</option>
        </select>
      </div>
    </div>
    <button type="submit" name="button">Submit</button>
  </div>
</form>
