@{
  Layout="Shared/_Layout.cshtml";
}

<h1 class="result">Result:</h1>
@if(Model == "Draw") {
 <img src="http://drawwhatgame.com/images/hero/draw@2x.png" alt="an image of a text Draw">
}else if(Model == "Player 1 won") {
  <img src="http://itp.nyu.edu/classes/icm-dano-spring2014/files/2014/04/Player1_Wins.jpg" alt="unicorn image">
}else {
  <img src="http://bh.springload.co.nz/images/msg-player2-wins.png" alt="player 2 wins image">
}
