.jumbotron {
  background-image: url("https://www.rewardscentral.com.au/img/community/games/rpsImg.jpg");
  height: 200px;
  font-size: 80px;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  color: teal;
  text-shadow: 2px 2px white;
}

.form-group {
  width: 45%;
  float: left;
  padding-right: 20px;
}

.btn
{
  margin-top: 50px;
  float: left;
  clear: both;
}
